#header {
  height: 54px;
  width: 100%;
  margin-bottom: 1em;
  background: #403c3b;
  border-bottom: 6px solid #315875;
}
#header h1 { margin: 0; }
#logo {
  display: block;
  text-indent: -9999px;
  height: 60px;
  width: 200px;
  background: url('logo.png');
  margin: 0px;
}
#navbar { padding: 0; }
#navbar li {
  height: 60px;
  float: left;
  list-style: none;
}
#navbar li * {
  display: block;
  height: 21px;
  padding: 33px 5px 0;
  color: #f0f0f0;
  border-right: 1px solid #575757;
}
#navbar li a:hover { background: #575757; }
body {
  background: url('header-bg.png') repeat-x top #f0f0f0;
  color: #403c3b;
}
a { color: #315875; }
a.current {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.pill {
  background: #403c3b;
  color: #f0f0f0;
  display: inline-block;
  padding: 0 1em;
  margin-bottom: 1em;
  border: 2px solid #0d0908;
  border-radius: 1em;
}
.pill a { color: #97bedb; }
.pill a:hover { color: #f0f0f0; }
.pill a.current { color: #f0f0f0; }
.browser {
  max-height: 400px;
  overflow-y: scroll;
  line-height: 1.5;
}
.browser table th { background: #cecece; }
.browser table thead { cursor: pointer; }
.browser .table-tr-hovered { background: #97bedb; }
.mapper .card .tfield { border: 2px dashed #333333; }
.mapper .card select {
  margin: 0 6px;
  position: relative;
  bottom: 5px;
}
#shortcuts ul {
  list-style: none;
  margin: 0;
}
#shortcuts li {
  float: right;
  color: #cccccc;
}
.key {
  color: #666666;
  padding: 0 3px;
  margin: 0 4px;
  background: #cccccc;
  border-radius: 3px;
}
.card { width: 470px; }
.card .front {
  border: 2px solid #666666;
  height: 210px;
  width: 426px;
  padding: 20px;
}
.card .back {
  border: 2px solid #666666;
  height: 210px;
  width: 426px;
  padding: 20px;
}
.card p.flip { text-align: right; }
.splitview .card { width: 100%; }
.splitview .card div { float: left; }
.splitview .card div.front { margin-right: 10px; }
.button-wrong, .button-correct {
  display: block;
  float: left;
  width: 100px;
  padding: 7px 0;
  text-align: center;
  border: 1px solid #666666;
  border-radius: 5px;
}
.button-wrong { float: right; }
.cardsets ul {
  padding: 10px;
  border: 1px dashed #aaaaaa;
}
.cardsets ul li {
  float: left;
  display: block;
  width: 240px;
  height: 135px;
  margin: 5px;
  position: relative;
}
.cardsets ul li span {
  position: absolute;
  top: 70px;
  z-index: 2;
  width: 230px;
  height: 52px;
  padding: 5px;
  background: #e9f3e9;
  border: 1px solid #737873;
  border-radius: 3px;
}
.cardsets ul li h6 a {
  float: right;
  display: block;
}
.cardsets ul li .card {
  position: absolute;
  left: 3px;
  top: 5px;
  z-index: 1;
}
.progressbar {
  position: relative;
  width: 180px;
  height: 12px;
  text-align: center;
  line-height: 14px;
  margin-bottom: 20px;
  background: #efefef;
  border: 2px solid #666666;
  border-radius: 8px;
}
.progressbar span {
  z-index: 3;
  position: relative;
}
.progressbar div {
  z-index: 2;
  position: absolute;
  top: -1px;
  left: -1px;
  height: 12px;
  background: #aee36d;
  border: 1px solid #666666;
  border-radius: 8px;
}
