#header {
  height: 50px;
  width: 100%;
  margin-bottom: 1.5em;
  background: #ffffff;
  border-bottom: 1px solid #aaaaaa;
}
#header h1 { margin: 0; }
#logo {
  display: block;
  text-indent: -9999px;
  height: 50px;
  width: 200px;
  background: url('logo.png');
  margin: 0px;
}

#footer { padding-bottom: 3em; }

body {
  background: #f0f0f0;
  color: #403c3b;
}
a { color: #315875; }
h3 .faded { color: #959190; }
h4 .faded { color: #959190; }
th {
  background: #ffffff;
  font-weight: bold;
  border-bottom: 2px solid #666666;
}
.table-tr-odd { background: #f6f6f6; }
ul.cloud {
  padding: 0;
  list-style: none;
}

.item-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  background: url('icons-items.png');
  vertical-align: -35%;
}
.item-icon.box { background-position: 0 0; }
.item-icon.cardset { background-position: 0 -40px; }
.item-icon.list { background-position: 0 -80px; }
.item-icon.template { background-position: 0 -120px; }

.progress {
  padding: 8px 10px 10px;
  background: #575757;
  color: white;
}
.progress h3 {
  color: white;
  margin-bottom: 0;
}
.progress span {
  float: left;
  display: block;
  padding-right: 10px;
}
.box-control h3 {
  float: left;
  margin-bottom: 0;
}
.box-control h3 .icon {
  height: 40px;
  width: 40px;
  padding-right: 10px;
  vertical-align: -25%;
  display: inline-block;
  background: url('icon-box-medium.png') no-repeat;
}
.box-control .progress { float: right; }
.box-divider {
  height: 12px;
  width: 100%;
  background: url('box-divider.png');
}
.page-head {
  padding: 10px;
  margin-bottom: 1em;
  height: 42px;
  background: #f5f5f5;
  border: 1px solid #aaaaaa;
}
.page-head .button-bar { float: right; }
.page-head h3 {
  display: inline-block;
  margin: 0.5em 0;
}
.page-head input {
  font-size: 1.5em;
  margin: 0.15em;
}
.cardset-editor .card .tfield { border: 2px dashed #333333; }
.cardset-editor .card .tfield.hovered {
  border: 2px solid #666666;
  background: white;
  cursor: pointer;
}
#shortcuts ul {
  list-style: none;
  margin: 0;
}
#shortcuts li {
  float: right;
  color: #986f4f;
}
.key {
  padding: 0 3px;
  margin: 0 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #986f4f;
  background: #ffffff;
}
.card { width: 470px; }
.card .front {
  border: 2px solid #666666;
  height: 210px;
  width: 426px;
  padding: 20px;
}
.card .back {
  border: 2px solid #666666;
  height: 210px;
  width: 426px;
  padding: 20px;
}
.card p.flip { text-align: right; }
.splitview .card { width: 100%; }
.splitview .card div.front { float: left; }
.splitview .card div.back { float: left; }
.splitview .card div.front { margin-right: 10px; }
.card-data { margin-bottom: 4px; }
.card-data .front {
  display: inline-block;
  height: 100%;
  padding: 0 3px;
  margin-right: 3px;
  background: #fff9cc;
  border: 1px solid #ccc699;
}
.button-wrong, .button-correct {
  display: block;
  float: left;
  width: 100px;
  padding: 7px 0;
  text-align: center;
  border: 1px solid #666666;
}
.button-wrong { float: right; }
.cardstack ul {
  margin: 0;
  padding: 0;
}
.cardstack li {
  list-style: none;
  float: left;
  width: 32px;
  height: 20px;
  margin: 3px;
  background: #fff9cc;
  border: 1px solid #ccc699;
}

/* ELEMENTS */

.list-browser             {list-style: none; margin: 0; padding: 0;}
.list-browser li          {margin: 0; padding: 4px 32px; cursor: pointer; line-height: 24px; 
                           background: url('bullet-plus.png') no-repeat 4px 8px;}
.list-browser li:hover    {background-color: #ccc;}
.list-browser li ul       {list-style: none; margin: 0; padding: 0;}
.list-browser li ul li    {background: url('bullet-tee.png') no-repeat 4px 8px; }
.list-browser li ul li:last-child {background: url('bullet-last.png') no-repeat 4px 8px; }

.list-browser li h4       {display: inline;}
.list-browser .cardset-title{font-weight: bold; display}
.list-browser .examples   {margin-left: 40px;}
.list-browser .example-1  {color: #333;}
.list-browser .example-2  {color: #666;}
.list-browser .example-3  {color: #888;}
.list-browser .example-4  {color: #aaa;}

.list-editor              {border-collapse: collapse;}
.list-editor th, .list-editor td{padding: 1px; border: 1px solid #ccc; background: white;}
.list-editor th           {border-bottom: 2px solid #aaa;}
.list-editor input        {width: 99.9%; height: 24px; font-size: 1em; margin: 0;
                           border: none; background: white;}
.list-editor th input     {font-weight: bold;}
.list-editor .button-cell {width: 24px; background: none; border: none;}
.list-editor .button-cell * {visibility: hidden;}
.list-editor tr:hover .button-cell * {visibility: visible;}
.list-editor tr.removed   {text-decoration: line-through;}

/* BUTTONS */
.button                   {text-decoration: none; font-weight: bold; height: 24px; }
.button.pill              {background: #ddd; border-radius: 16px; border: 1px solid #777;
                           display: inline-block; padding: 3px 7px; }
.button.pill:hover        {background: #fff;}
                           
/* ICONS */
.icon-addto,.icon-box,.icon-cardset, .icon-view, .icon-add, .icon-remove
                          {background: url('icons.png'); display:inline-block; text-indent: -9999px;
                           margin: 0 2px; height: 24px; width: 24px; vertical-align: 1px;}
.icon-addto               {background-position: 0px 0px;}
a:hover .icon-addto       {background-position: -24px 0px;}
.icon-view                {background-position: 0px -24px;}
a:hover .icon-view        {background-position: -24px -24px;}
.icon-add                 {background-position: 0px -48px;}
a:hover .icon-add         {background-position: -24px -48px;}
.icon-remove              {background-position: 0px -72px;}
a:hover .icon-remove      {background-position: -24px -72px;}
