<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}cardbox{% endblock %}</title>
    <link rel="stylesheet" href="{{media_url}}theme/base.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{{media_url}}theme/style.css" type="text/css" media="screen" charset="utf-8"/>
    
    <!--<script src="http://www.google.com/jsapi" type="text/javascript"></script>-->
    <script src="{{media_url}}javascript/mootools-core-1.3.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/mootools-more-1.3.1.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/cardbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/autocompleter.js" type="text/javascript" charset="utf-8"></script>
    
</head>

<body class='{%block pageclass%}{%endblock%}'>
    <div id='header'>
        <div class='container'> 
            {% block header %}
        
            <div class='span-6'>
                <h1><a href="/" id='logo'>cardbox</a></h1>
            </div>
    
            <div class='span-12'>
                <ul id='navbar'>
                    <li><a href='#' onClick='return false;'>Create</a>
                        <ul>
                            <li><a title='Create a new box. A box holds the cards that you can study.' href="{% url cardbox.views.box_create %}"><span class='item-icon box'></span>Box</a></li>
                            <li><a title='Create a new List. Lists contain the words that show up on cards.' href='{% url cardbox.views.list_create%}'><span class='item-icon list'></span>List</a></li>
                        </ul>
                    </li>
                    <li><a href='#' onClick='return false;'>browse</a>
                        <ul>
                            <li><a title='Browse through all available lists.' href='{% url cardbox.views.list_browse%}'><span class='item-icon list'></span>Lists</a></li>
                        </ul>
                    </li>
                    <li>
                        {% if sign_in %}<a href="{{ sign_in }}">login</a>
                        {% else %}<a href="{{ sign_out }}">logout</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url cardbox.views.help %}">help</a>
                    </li>
                
                     {%if is_admin %}
                    
                    {% endif %}
                </ul>
            </div>
            {% endblock header %} 
        </div>
    </div>
    
    
    
    <div class='container'>
        {% block content %}{%endblock content %}
    </div>
    
    <div id='footer'>
    </div>
    
    <script type="text/javascript" >
        window.addEvent('domready', function() {  
            $$('#navbar a').addEvent('click',function(e){
                if (e.target.get('href') != '#'){
                    //Remove this stuff.
                    window.location.href = e.target.get('href');
                    window.location.reload(true)
                }
               
            });          
            var ribbon = new Ribbon('navbar');
            //KeyBinder.setInterface('shortcuts'); 
        });
    </script>
</body>
</html>