<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}cardbox{% endblock %}</title>
    <link rel="stylesheet" href="{{media_url}}theme/base.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{{media_url}}theme/style.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="{{media_url}}theme/MenuMatic.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
    <!--<script src="http://www.google.com/jsapi" type="text/javascript"></script>-->
    <script src="{{media_url}}javascript/mootools-1.2.4-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/mootools-1.2.4.4-more.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/cardbox.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/MenuMatic_0.68.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{media_url}}javascript/autocompleter.js" type="text/javascript" charset="utf-8"></script>
    
</head>

<body class='{%block pageclass%}{%endblock%}'>
    <div id='header'>
        <div class='container'> 
            {% block header %}
        
            <div class='span-6'>
                <h1><a href="/" id='logo'>cardbox</a></h1>
            </div>
    
            <div class='span-12'>
                <ul id='navbar'>
                    <li><a href='#' onClick='return false;'>Create</a>
                        <ul>
                            <li><a title='Create a new box. A box holds the cards that you can study.' href="{% url cardbox.views.box_create %}"><img class='icon' src='{{media_url}}theme/icon-box-medium.png'/>Box</a></li>
                            <li><a title='Create a new cardset by combining a list and a template. Cardsets are packs of cards with a similar topic.' href="{% url cardbox.views.cardset_create %}"><img class='icon' src='{{media_url}}theme/icon-cardset-medium.png'/>Cardset</a></li>
                            <li><a title='Create a new list. Lists contain the words that show up on cards.' href='{% url cardbox.views.page_create "factsheet" %}'><img class='icon' src='{{media_url}}theme/icon-list-medium.png'/>List</a></li>
                            <li><a title='Create a template. A template determines what goes where on a card, and what it looks like. ' href='{% url cardbox.views.page_create "template" %}'><img class='icon' src='{{media_url}}theme/icon-template-medium.png'/>Template</a></li>
                        </ul>
                    </li>
                    <li><a href='#' onClick='return false;'>browse</a>
                        <ul>
                            <li><a title='Browse through cardsets created by you and others.' href="{% url cardbox.views.browse %}#cardset"><img class='icon' src='{{media_url}}theme/icon-cardset-medium.png'/>Cardsets</a></li>
                            <li><a title='Browse through all available lists.' href='{% url cardbox.views.browse %}#factsheet'><img class='icon' src='{{media_url}}theme/icon-list-medium.png'/>Lists</a></li>
                            <li><a title='Find the template you are looking for.' href='{% url cardbox.views.browse %}#template'><img class='icon' src='{{media_url}}theme/icon-template-medium.png'/>Templates</a></li>
                        </ul>
                    </li>
                    <li>
                        {% if sign_in %}<a href="{{ sign_in }}">login</a>
                        {% else %}<a href="{{ sign_out }}">logout</a>
                        {% endif %}
                    </li>
                
                     {%if is_admin %}
                    
                    {% endif %}
                </ul>
            </div>
            <div class='span-6 last' id='shortcuts'>
                <ul></ul>
            </div>
            {% endblock header %} 
        </div>
    </div>
    
    
    
    <div class='container'>
        {% block content %}{%endblock content %}
    </div>
    
    <script type="text/javascript" >
        window.addEvent('domready', function() {  
            $$('#navbar a').addEvent('click',function(e){
                if (e.target.get('href') != '#'){
                    //Remove this stuff.
                    window.location.href = e.target.get('href');
                    window.location.reload(true)
                }
               
            });          
            var ribbon = new Ribbon('navbar');
            KeyBinder.setInterface('shortcuts'); 
        });
    </script>
</body>
</html>