{% extends "base.html" %}

{% block content %}
    <div class="span-24 last">
        {% if box.is_saved %}
        <form action="{% url cardbox.views.box_edit box.key.id %}" id='box-form'method="post">
        {% else %}
        <form action="{% url cardbox.views.box_create %}" id='box-form' method="post">
        {% endif %}
        
            <div class='page-head'>
                <span class='item-icon box'></span>
                <h3><span class='faded'>Editing your box :</span></h3><input class='title' id="id_title" type="text" value="{{box.title}}" name="title">
                <div class='button-bar standalone'><ul>
                    <li><a class='button-cancel' href='{% url cardbox.views.frontpage %}'><span class='icon'></span>Cancel</a></li>
                    <li><a class='button-save' href='#' onClick='$("box-form").submit()'><span class='icon'></span>Save Changes</a></li> 
                </ul></div>
            </div>
            
            <h3>Selected sets:</h3> 
            <p>The following sets are currently in this box. Click remove to remove them. Your studying progress for a set
                will be lost 30 days after you it from the box, unless you add it again in the meantime.</p>
                <ul id='selected-cardsets'>
                    {% for cardset in box.fetch_cardsets %}
                        <li class='cardset'>{{cardset.factsheet.title}} ({{cardset.title}})<input type='hidden' name='cardset-id' value='{{cardset.key.id}}'></li>
                    {% endfor %}
                </ul>
                
                <script type='text/javascript'>
                    $$('#selected-cardsets li.cardset').each(function(s){
                        var idinput = s.getElement('input[name=cardset-id]');
                        var cid = idinput.get('value');
                        s.grab(new Element('a',{
                            'html':'remove','href':'#','class':'button action-remove',
                            'events':{
                            'click':function(event){
                                event.preventDefault();
                                s.toggleClass('removed');
                                if (s.hasClass('removed')){
                                    s.getElement('input[name=cardset-id]').set('value','');
                                    this.set('html','add').removeClass('action-remove').addClass('action-add');
                                } else {
                                    s.getElement('input[name=cardset-id]').set('value',cid);
                                    this.set('html','remove').removeClass('action-add').addClass('action-remove');
                                }
                        }}}));
                    });
                </script>
                
            </div>
            
            <hr class='space'> 
            
            <hr class='space'>
            
            <div class='span-24 button-bar standalone'><ul>
                <li><a class='button-cancel' href='{% url cardbox.views.frontpage %}'><span class='icon'></span>Cancel</a></li>
                <li><a class='button-save' href='#' onClick='$("box-form").submit()'><span class='icon'></span>Save Changes</a></li> 
            </ul></div>
        </form>
    </div>
{% endblock %}