{% extends "base.html" %}

{% block content %}
    <div class="span-24 last">
        {% if box.is_saved %}
        <form action="{% url cardbox.views.box_edit box.key.id %}" id='box-form'method="post">
        {% else %}
        <form action="{% url cardbox.views.box_create %}" id='box-form' method="post">
        {% endif %}
        
            <div class='page-head'>
                <span class='item-icon box'></span>
                <h3><span class='faded'>Editing your box :</span></h3><input class='title' id="id_title" type="text" value="{{box.title}}" name="title">
                <div class='button-bar standalone'><ul>
                    <li><a class='button-cancel' href='{% url cardbox.views.frontpage %}'><span class='icon'></span>Cancel</a></li>
                    <li><a class='button-save' href='#' onClick='$("box-form").submit()'><span class='icon'></span>Save Changes</a></li> 
                </ul></div>
            </div>
            
            <input id="id_cardsets" type="hidden" value='{{box.cardsets|join:","}}' name='cardsets'>
            <h3>Selected sets:</h3> 
            <p>The following sets are currently in this box. Click remove to remove them. Your studying progress for a set
                will be lost 30 days after you it from the box, unless you add it again in the meantime.</p>
            <div class='span-24' id='browser_selected'>
            </div>
            
            <hr class='space'>
            
            <h3>Available sets:</h3>
            <p>Select the sets you want to study from the list below.</p>
            <div class='span-24' id='browser_available'>
            </div>
            <script>
                selectedBrowser = new BrowseTable('browser_selected',{
                    {%if box.is_saved%}'filters':{'ids':'{{box.cardsets|join:","}}' },{%endif%}
                    'kind':'cardset',
                    'actions':['remove']
                });
                selectedBrowser.addEvent('action_remove',function(id){
                    selectedBrowser.removeRow(id);
                    $('id_cardsets').set('value',selectedBrowser.getRowIds().join(','));
                });
                {%if box.is_saved %}selectedBrowser.refresh();{% endif %}
                availableBrowser=new BrowseTable('browser_available',{
                    'kind':'cardset',
                    'actions':['add']
                });
                availableBrowser.addEvent('action_add',function(id){
                    selectedBrowser.addRow(availableBrowser.getRowData(id));
                    $('id_cardsets').set('value',selectedBrowser.getRowIds().join(','));
                });
                availableBrowser.refresh();
            </script>
            
            <hr class='space'>
            
            <div class='span-24 button-bar standalone'><ul>
                <li><a class='button-cancel' href='{% url cardbox.views.frontpage %}'><span class='icon'></span>Cancel</a></li>
                <li><a class='button-save' href='#' onClick='$("box-form").submit()'><span class='icon'></span>Save Changes</a></li> 
            </ul></div>
        </form>
    </div>
{% endblock %}