{% load cardbox_filters %}
<div>
    {{card.render}}
   
    <form action="{% url cardbox.views.update_card box.key.id %}" method="post">
        <input class='card_id' type="hidden" name="card_id" value="{{card.key.name}}"/>
        <input class='correct' type="hidden" name="correct" value="0"/>
    </form>
    
    <div class='card-info' style='display:none'>
        <h4>This Card</h4>
        <p>Correct {{card.n_correct}} times, wrong {{card.n_wrong}} times. In <strong>interval {{card.interval}}</strong>.</p>
        <ul>
            <li><a href='{{card.get_cardset.factsheet.url}}'>{{card.get_cardset.factsheet.title}}</a></li>
            <li><a href="{%url cardbox.views.card_view box.key.id card.key.name %}">Stats for this card</a></li>
        </ul>
    </div>
    
    <div class='box-info' style='display:none'>
        <p>Studied for <strong>{{box.time_studied|timedelta}}</strong></p>
        <div class='progress'>
            <h3>Cards: {{box.stats.n_cards}}</h3>
            
        </div>
    </div>
</div>
