{% extends "base.html" %}

{% block content %}
    <div class="span-24"> 
       
        {% if cardset.is_saved %}
        <form action="{% url cardbox.views.cardset_edit cardset.key.id %}" id='cardset-edit-form' method="post">
        {% else %}
        <form action="{% url cardbox.views.cardset_create %}" id='cardset-edit-form' method="post">
        {% endif %}
        
            <div class='page-head'>
                <h3><span class='faded'>Editing cardset:</span></h3> <input id='id_title' type='text' class='title' name='title' value='{{cardset.title}}'>
                <div class='button-bar standalone'><ul>
                    {% if cardset.is_saved %}<li><a class='button-cancel' href='{% url cardbox.views.cardset_view cardset.key.id %}'><span class='icon'></span>Cancel</a></li>{%endif%}
                    <li><a class='button-save' href='#' onClick='$("cardset-edit-form").submit()'><span class='icon'></span>Save Changes</a></li>
                </ul></div>
            </div>
           
            <div class='span-24'>
                <div class='span-12'>
                    <p><label for='id_factsheet'>list:</label>
                    <input id='id_factsheet' type='text' name='factsheet' value='{{cardset.factsheet.name}}'>
                    <a href='#' onClick='bsr.update({"kind":"list"}); return false;'>browse</a></p>
                </div>
                <div class='span-12 last'>
                    <p><label for='id_template'>template:</label>
                    <input id='id_template' type='text' name='template' value='{{cardset.template.name}}'>
                    <a href='#' onClick='bsr.update({"kind":"template"}); return false;'>browse</a></p>
                </div>
            </div>
                
            <div class='span-24' id='browser'>
            </div>
           
            <script type='text/javascript'>
                bsr = new BrowseTable('browser');
                bsr.addEvent('action_select',function(id){
                    if (bsr.options.kind == 'list'){
                        $('id_factsheet').set('value',id);
                        msr.setFactsheet(bsr.getNamedRowData(id)['id'])
                    }else if (bsr.options.kind == 'template'){
                        $('id_template').set('value',id);
                        msr.setTemplate(bsr.getNamedRowData(id)['id'])
                    }
                });
                $('id_factsheet').addEvent('focus',function(){
                    bsr.update({'kind':'list'});
                });
                $('id_template').addEvent('focus',function(){
                    bsr.update({'kind':'template'});
                });
            </script>
            
            <div class='span-24'>
                <input id='id_mapping' type='hidden' name='mapping' value='{{cardset.mapping_as_json}}'/>
                <h4>select mapping:</h4>
                <div id='mapper'>
                    {{cardset.template.html_preview}}
                </div>
                <script type='text/javascript'>
                    msr = new MappingSelector('mapper','id_mapping');
                    msr.setValues(['{{cardset.factsheet.columns|join:"','"}}'])
                </script>
            </div>
            
            <hr class='space'>
                
            <div class='span-24 button-bar standalone'><ul>
                {% if cardset.is_saved %}<li><a class='button-cancel' href='{% url cardbox.views.cardset_view cardset.key.id %}'><span class='icon'></span>Cancel</a></li>{%endif%}
                <li><a class='button-save' href='#' onClick='$("cardset-edit-form").submit()'><span class='icon'></span>Save Changes</a></li>
            </ul></div>
        </form>
    </div>
{% endblock %}