{% extends "base.html" %}

{% load cardbox_filters %}

{% block content %}
    <div class="span-24 last">
        
        <div class='page-head'>
            <span class='item-icon cardset'></span>
            <h3><span class='faded'>Viewing cardset:</span> {{cardset.title}}</h3>
            <div class='button-bar standalone'>
                <a class='button-edit' href="{% url cardbox.views.cardset_edit cardset.key.id %}"><span class='icon'></span>edit</a>
            </div>
        </div>
        
        <hr class='space'>

        <div class='span-24'>
            <div class='span-6'>
                <p>This cardset was last modified on {{cardset.modified|date}}</p>
            </div>
            <div class='span-8'><div class='cardset-component'>
                <h4>
                    <span class='item-icon list'></span>
                    <span class='faded'>List: </span>
                    <a href='{{cardset.factsheet.url}}'>{{cardset.factsheet.title}}</a>
                </h4>
            </div></div>
            <div class='span-2'>
                <img style='margin: 10px 0 0 6px;' src='{{media_url}}theme/plus.png'>
            </div>
            <div class='span-8 last'><div class='cardset-component'>
                <h4>
                    <span class='item-icon template'></span>
                    <span class='faded'>Template: </span>
                    <a href='{{cardset.template.url}}'>{{cardset.template.title}}</a>
                </h4>
            </div></div>
        </div>
        
        <hr class='space'>
        
        <div class='span-24'>
            <h4>Preview (front/back)</h4>
            <div class='span-24 splitview'>
                {% with cardset.random_card as card %}
                    {%include 'card.html' %}
                {%endwith%}
            </div>
        </div>
    </div>
{% endblock %}
