{% extends "base.html" %}

{% block content %}
    <div class="span-18">
        {% if request.user %}
            {% for box in request.user.my_boxes %}
                <div class="span-14 append 2">
                    <h3>{{box.title}}</h3>
                    <p><a href="{% url cardbox.views.study box.key.id %}">study</a> <a href="{% url cardbox.views.box_edit box.key.id %}">edit</a></p>
                    <div class='progressbar'>
                        <span>{{box.percentage_learned|floatformat}}%</span>
                    <div style='width:{%widthratio box.percentage_learned 100 180%}px;'></div>
                    </div>
                </div>
                <hr/>
            {% endfor %}
            <div class='span-18 last'>
                <a href="{%url cardbox.views.box_new%}">new box</a>
            </div>
        {% else %}
            &#160;
        {% endif %}
    </div>
    
    <div class="span-6 last">
        recent activity:
        <ul>
            {% for factsheet in factsheets %}
            <li>{{factsheet.name}} <a href='{%url cardbox.views.page_edit factsheet.key.name %}'>edit</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}