{% extends "base.html" %}


{% block content %}
    <div class="span-13 colborder">
        <p>Welcome to Cardbox! Cardbox is a <strong>free</strong> service where you can <strong>collaboratively</strong> keep lists of words to study. Studying is done through so-called <strong>flashcards</strong>. Create an account to start learning.</p>

        <div class='span-11 prepend-1 browse-lists'>
            <h3><a href="{%url cardbox.views.list_browse %}"><span>Browse Lists</span></a></h3>
            <p>Browse through the lists and cardsets that other people have made. You can add these to your own box and start studying right away.</p>
        </div>
        <div class='span-11 prepend-1 create-list'>
            <h3><a href="{%url cardbox.views.list_create %}"><span>Create List</span></a></h3>
            <p>Didn't find what you were looking for? Contribute! Entering a list of words and turning it into cards is quick, fun and easy.</p>
        </div>

    </div>
    <div class="span-10 last">
        <span class='welcome-button-boxes'></span>
        {% if request.user %}
            <h3>Your Boxes</h3>
            {% for box in request.user.my_boxes %}
                <div class="span-10">
                    <div class='box-control boxed'>
                        <div class='box-top clearfix'>
                            <h3><span class='icon-box'>box</span>{{box.title}}</h3>
                            <div class='progress'>
                                <span>{{box.stats.n_learned}}/{{box.stats.n_cards}} =</span>
                                <h3>{{box.stats.percent_learned|floatformat}}%</h3>
                                <div class='bar'><div class='filled' style="width:{{box.stats.percent_learned|floatformat}}%"></div></div>
                            </div>
                        </div>
                        <a class='button' href="{% url cardbox.views.study box.key.id %}"><span class='icon-study'>s</span>Study</a>
                        <a class='button' href="{% url cardbox.views.box_edit box.key.id %}"><span class='icon-edit'>e</span>Edit</a>
                        <a class='button' href="{% url cardbox.views.box_stats box.key.id %}"><span class='icon-stats'>s</span>Stats</a>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ sign_out }}" style='float:right;'>Log out</a>
        {% else %}
            Welcome, please <a href="{{ sign_in }}">log in</a>.
        {% endif %}
    </div>
    
   
{% endblock %}