{% extends "base.html" %}

{% block content %}
  
<div class='span-24'>
    <h2>Browsing Lists</h2>
    <ul class='list-browser'>
    {% for list in lists %}
        <li><h4>{{list.title}}</h4> <a class='button' href="{{list.url}}"><span class='icon-view'>View list</span></a>
            <ul class='cardsets'>
                {% for cardset in list.cardset_set %}
                    <li class='cardset' id='cardset-{{cardset.key.id}}'><span class='cardset-title'>{{cardset.title}}</span>
                        <span class='examples'>{% for c in cardset.contents|slice:":4" %}
                            <span class='example-{{forloop.counter}}'>{{c.front|first}}: {{c.back|first|truncatewords:2}},</span>
                        {%endfor%}<span class='example-4'>...</span></span>
                        <a href='#' class='add-to-box button'><span class='icon-addto'>Add to</span> Add to box</a>
                    </li>
                {%endfor%}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>

{% if request.user %}
<div id='cardset-add-box-select'>
    Add to which box?
    {% for box in request.user.my_boxes %}
    <span><a href='#' onclick='boxSelect(event, {{box.key.id}})'>{{box.title}}</a></span>
    {% endfor %}
    <span class='success' style='display:none'>Success!</span>
    <a class='button action-cancel' href='#' onClick='hideBoxSelect(event)'>Cancel</a>
</div>
{% endif %}

<script type='text/javascript'>
    var loggedIn = {{request.user|yesno:"true,false"}};
    
    function boxSelect(event, box){
        console.log('adding to ' + box)
        event.preventDefault();
        var rq = new Request({
            'url':'/box/'+box+'/',
            'onSuccess':function(t,x){
                $$('#cardset-add-box-select .action-cancel')[0].setStyle('display','none');
                $$('#cardset-add-box-select .success')[0]
                    .setStyles({'display':'','opacity':0})
                    .get('tween').start(0,1).wait(1000)
                    .chain(hideBoxSelect)
            }
        }).post('add-cardset='+window.addedCardset);
    }
    
    function showBoxSelect(position){
        if (position){
            $('cardset-add-box-select').position({
                'relativeTo':position,
                'edge':'centerLeft',
                'position':'centerRight'
            });
        }
        $('cardset-add-box-select')
            .setStyles({'display':'','opacity':0})
            .get('tween').start(0,1);
        $$('#cardset-add-box-select .action-cancel')[0]
            .setStyle('display','')
            .get('tween').start(0,1);
    }
    
    function hideBoxSelect(event){
        if (event) event.preventDefault();
        $('cardset-add-box-select')
            .get('tween').start(1,0).chain(function(){
                $('cardset-add-box-select').setStyle('display','none');
        });
        $$('#cardset-add-box-select .success').setStyle('display','none');
    }
    
    if (loggedIn){
        $('cardset-add-box-select').set('tween',{'property':'opacity'});
        $$('#cardset-add-box-select .success')[0].set('tween',{'property':'opacity'});
        $$('#cardset-add-box-select .action-cancel').set('tween',{'property':'opacity'});
        hideBoxSelect();
    }
    
    
    $$('.cardset .add-to-box').each(function(a){
        if (loggedIn){
            a.addEvent('click',
                function(event){
                    event.stopPropagation();
                    event.preventDefault();
                    window.addedCardset = a.getParent().get('id').split('-')[1];
                    showBoxSelect(this);
                }
            );
        } else {
            a.destroy();
        }
    });
    
    $$('.list-browser>li').each(function(li){
        console.log(li)
        var innerul = li.getElement('ul.cardsets');
        $$('ul.cardsets').slide('hide');
        li.addEvent('click', function(event){
            $$('ul.cardsets').slide('out');
            innerul.slide('toggle');
        });
    });
</script>

{% endblock %}