{% extends "base.html" %}

{% load cardbox_filters %}

{% block content %}
    <div class="span-24">
        {% if list.is_saved %}
        <form id='list-edit-form' action="{% url cardbox.views.list_edit name=list.name %}" method="post">
        <div class='page-head'>
            <span class='item-icon list'></span>
            <h3></span><span class='faded'>Editing list: </span></h3> <input class='title' name='title' type='text' value='{{list.title}}'>
        {% else %}
        <form id='list-edit-form' action="{% url cardbox.views.list_create %}" method="post">
        <div class='page-head'>
            <span class='item-icon list'></span>
            <h3><span class='faded'>Creating a list named: </span></h3> <input class='title' name='title' type='text' value='{{page.title}}'>
        {% endif %}
            <div class='button-bar standalone'><ul>
                {% if list.is_saved %}<li><a class='button-cancel' href='{% url cardbox.views.list_view name=list.name %}'><span class='icon'></span>Cancel</a></li>{%endif%}
                <li><a class='button-save' href='#' onClick='$("list-edit-form").submit()'><span class='icon'></span>Save Changes</a></li>
            </ul></div>
        </div>
   
        <input type='text' name='list-meta-book' value='{{list.meta_book|default_if_none:""}}'>
        <input type='text' name='list-meta-subject' value='{{list.meta_subject|default_if_none:""}}'>
        <table class='list-view'>
            {% for k in list.columns %}<col/>{% endfor %}
            <thead>
                <tr>
                    {% for k in list.columns %}
                    <th>{{k}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row_id in list.row_order %}
            {% with list.rows|dictkey:row_id as row %}
            <tr>
                {% for c in list.columns %}
                <td>{{row|dictkey:c}}</td>
                {% endfor %}
            </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        
        
        <div class='span-24'>
            {% for cardset in list.cardset_set %}
            <div class='cardset-editor'>
                <input type='text' name='cardset-title' value='{{cardset.title}}'>
                <input type='text' name='cardset-template' value='{{cardset.get_template_name}}'>
                <input type='hidden' name='cardset-id' value='{{cardset.key.id}}'>
                <input type='hidden' name='cardset-mapping' value='{{cardset.mapping_json}}'>
                <div class='card-container splitview'>{{cardset.sample}}</div>
            </div>
            {% endfor %}
            <a id='button-addset' href='#'>Add a new set</a>
        </div>
            
        <script type='text/javascript'> 
            window.listEditor = new ListEditor('list-edit-form');
            window.cardsetEditors = $$('.cardset-editor').map(function(e){
                return new CardsetEditor(e,window.listEditor);
            });
            document.id('button-addset').addEvent('click',function(e){
                e.preventDefault();
                window.cardsetEditors.push(new CardsetEditor(
                    $('new-cardset-editor').clone().inject($('new-cardset-editor'),'before').setStyle('display',''),
                    window.listEditor
                ));
            });
        </script>
        
        </form>
        {# New (prototype) cardset editor #}
        <div id='new-cardset-editor' style='display:none'>
            <input type='text' name='cardset-title' value='new'>
            <input type='text' name='cardset-template' value='default'>
            <input type='hidden' name='cardset-id' value='_new'>
            <input type='hidden' name='cardset-mapping' value='{}'>
            <div class='card-container splitview'></div>
        </div>
    </div>
{% endblock %}