{% extends "base.html" %}

{% load cardbox_filters %}

{% block content %}
    <div class="span-24">
        <div class='page-head'>
            <span class='item-icon list'></span>
            <h3><span class='faded'>Viewing list:</span> {{list.title}}</h3>
            <div class='button-bar standalone'>
                <a class='button-edit' href="{% url cardbox.views.list_edit name=list.name %}"><span class='icon'></span>edit</a>
            </div>
        </div>
        <hr class='space'/>

        <table class='list-view'>
            <thead>
                <tr>
                    {% for k in list.columns %}
                    <th>{{k}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row_id in list.row_order %}
            {% with list.rows|dictkey:row_id as row %}
            <tr class='{% cycle "table-tr-odd" " "%}'>
                {% for c in list.columns %}
                <td>{{row|dictkey:c}}</td>
                {% endfor %}
            </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="span-24 last">
    </div>
{% endblock %}