{% extends "base.html" %}

{% block content %}
    <div class="span-24">
        <div class='span-20'><h3><span class='faded'>Viewing {{page.kind_name}}:</span> {{page.title}}</h3></div>
        <div class='span-4 last'>
            <div class='button-bar standalone'>
                <a class='button-edit' href="{% url cardbox.views.page_edit kind=page.kind_name name=page.key.name %}"><span class='icon'></span>edit</a>
            </div>
        </div>
        <hr class='space'/>
        {{page.html_preview}}      
    </div>
    <div class="span-24 last">
    </div>
{% endblock %}