{% extends "base.html" %}
{# TODO Template mooier maken #}
{% block content %}
    <div class="span-24"><h3>Studying from &laquo;{{box.title}}&raquo;</h3></div>
    <div class="span-24" id='study-area'>
        <div class='span-12 append-1'>
            <div class='card-container span-12 last'></div>
            <div class='buttons span-12 last'></div>
        </div>
        
        <div class='span-6'>
            <div class='card-info span-6 last'></div>
            <div id='stackview' class='cardstack span-6 last'></div>
        </div>
        
        <div class='box-info span-5 last'></div>
    </div>
    <script type='text/javascript'>
        window.addEvent('domready',function(){
            var studyClient = new StudyClient('study-area',{{box.key.id}},{'stackview':$('stackview')});
        });
    </script>
{% endblock %}