{% extends "base.html" %}

{% load cardbox_filters %}

{% block content %}
    <div class="span-24">
        {% if list.is_saved %}
        <form id='list-edit-form' action="{% url cardbox.views.list_edit name=list.name %}" method="post">
        <div class='page-head boxed'>
            <h3><span class='icon-list'>list</span><input class='title' name='title' type='text' value='{{list.title}}'></h3> 
        {% else %}
        <form id='list-edit-form' action="{% url cardbox.views.list_create %}" method="post">
        <div class='page-head'>
            <h3><span class='icon-list'>list</span><input class='title' name='title' type='text' value='{{list.title}}'></h3> 
        {% endif %}
                {% if list.is_saved %}
                    <a class='button' href='{% url cardbox.views.list_view name=list.name %}'>
                    <span class='icon-cancel'>c</span>Cancel</a></li>{%endif%}
                <a class='button' href='#' onClick='$("list-edit-form").submit()'><span class='icon-save'>s</span>Save Changes</a></li>
        </div>
        
        <ul class='errors'>
            {% for error in errors %}
            {{error}}
            {% endfor %}
        </ul>
   
        <table class='list-editor'>
            {% for k in list.columns %}<col/>{% endfor %}
            <thead>
                <tr>
                    {% for k in list.columns %}
                    <th>{{k}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row_id in list.row_order %}
            {% with list.rows|dictkey:row_id as row %}
            <tr>
                {% for c in list.columns %}
                <td>{{row|dictkey:c}}</td>
                {% endfor %}
            </tr>
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        
        
        <div id='cardset-editors'>
            {% if list.is_saved %}
            {% for cardset in list.cardset_set %}
            <div class='cardset-editor boxed clearfix'>
                <h3><span class='icon-cardset'>c</span><input type='text' name='cardset-title' value='{{cardset.title}}'></h3>
                <a class='button pick-template' href='#'>Pick template</a>
                <input type='hidden' name='cardset-id' value='{{cardset.key.id}}'>
                <input type='hidden' name='cardset-mapping' value='{{cardset.mapping_json}}'>
                <div class='template-selector clearfix'>
                    {% for t in templates %}
                        <div class='template'>
                            <input type="radio" name="cardset-template-{{forloop.parentloop.counter0}}" 
                                   value="{{t.template_name}}" 
                                   {% ifequal t.template_name cardset.get_template_name %}checked="checked"{%endifequal%}/>
                            <label><a href='#'>{{t.render_icon}}</a></label>
                        </div>
                    {% endfor %}
                </div>
                <div class='card-container cards-split clearfix'>{{cardset.sample}}</div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <a class='button' id='button-addset' href='#'><span class='icon-add'>a</span>Add a new set</a>
        
            
        <script type='text/javascript'> 
            window.listEditor = new ListEditor('list-edit-form');
            window.cardsetEditors = $$('.cardset-editor').map(function(e){
                return new CardsetEditor(e,window.listEditor);
            });
            document.id('button-addset').addEvent('click',function(e){
                e.preventDefault();
                window.cardsetEditors.push(new CardsetEditor(
                    $('new-cardset-editor').clone().inject($('cardset-editors')).setStyle('display',''), 
                    window.listEditor, 
                    window.cardsetEditors.length
                ));
            });
        </script>
        
        </form>
        {# New (prototype) cardset editor #}
        <div id='new-cardset-editor' class='cardset-editor boxed clearfix' style='display:none'>
            <h3><span class='icon-cardset'>c</span><input type='text' name='cardset-title' value=''></h3>
            <a class='button pick-template' href='#'>Pick template</a>
            {# <input type='hidden' name='cardset-template' value='{{cardset.get_template_name}}'> #}
            <input type='hidden' name='cardset-id' value='_new'>
            <input type='hidden' name='cardset-mapping' value='{}'>
            <div class='template-selector clearfix'>
                {% for t in templates %}
                    <div class='template'>
                        <input type="radio" name="cardset-template-new" 
                               value="{{t.template_name}}" 
                               {% ifequal t.template_name "default" %}checked="checked"{%endifequal%}/>
                        <label><a href='#'>{{t.render_icon}}</a></label>
                    </div>
                {% endfor %}
            </div>
            <div class='card-container cards-split clearfix'></div>
        </div>
    </div>
{% endblock %}